.main {
  position: relative;
  grid-column: 2 / span 5; 
  grid-row: 2 / span 3;   
  background-color: white;
  display: flex;
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
  width: auto;
  height: auto;
  margin: 10px;
  border: 4px solid #0a2169;
 
}

/* Contenedor del formulario */
.contenedor_user_setting {
  background-color: white;
  padding: 10px;
  width:100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border: 4px solid #ccc;
  border-radius: 10px;
}


/* Estilo del título y su contenedor */
.titulo_setting {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.titulo_setting h2 {
  font-size: 20px;
  color: #04324D;
  margin-top: -10px;
}

/* Contenedor principal para la búsqueda, dividido en dos columnas */
.container_busqueda {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  width: 100%;
  border: 4px solid #d41c1c;
}

/* Estilo para cada columna dentro del contenedor de búsqueda */
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo para los títulos dentro de cada columna */
.column h3 {
  font-size: 12px;
  color: #04324D;
  margin: 0 0 10px 0;
  text-align: center;
}

/* Estilo para las opciones de rol */
.role-options {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  width: 100%;
}

/* Estilo para cada opción de rol */
.role-option {
  background-color: white;
  border: 2px solid #ccc;
  padding: 8px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  text-align: center;
  color: #04324D;
  border-radius: 10px;
  flex: 1;
  min-width: 90px;
  font-size: 14px;
}

.role-option:hover {
  background-color: #ade8ad;
  color: #04324D;
  border: #f2f2f2;
  transform: scale(1.05);
}

/* Estilo para la barra de búsqueda */
.search-container {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 80%; 
}

.search-bar {
  flex: 1;
}

.search-bar input[type="text"] {
  height: 20px;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 12px;
  transition: border-color 0.3s ease;
  width: 100%; /* Usa el 100% del ancho disponible */
}

.search-bar input[type="text"]:focus {
  border-color: #16a34a;
  outline: none;
}

/* Estilo para el botón de búsqueda */
.search-button {
  background-color: #04324D;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #1fb530;
}

/* Contenedor de la tabla */
.table-container {
  width: 100%;
  margin: 10px 0; 
  overflow-x: auto;
  box-sizing: border-box;
}

/* Estilo de la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout:auto;
  border: 1px solid #04324D;
  overflow: hidden;

}
/* Color de fondo para el encabezado */
thead th {
  background-color: #ccc; 
  border: 1px solid #04324D;
}

th {
  color: #04324D;
  font-size: 12px;
  text-align: center;
  padding: 10px;
}

td {
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  font-size: 12px;
  border: 1px solid #ccc;
}

tbody td {
  border: none; /* Quita el borde interno de las celdas */
}

/* Botones de acción dentro de la tabla */
td.action-buttons {
  text-align: center;
}

/* Opcional: mejorar la visibilidad de las filas alternas */
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.save-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Estilo del botón de guardar */
.save-button {
  background-color: #04324D;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  width: 30%;
  text-align: center;
}

.save-button:hover {
  background-color: #1fb530;
}

.icon-setting {
  width: 50px;
  height: 50px;
  background-color: #04324D;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-top: -20px;
}

.main_setting-img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
}

p {
  color: #333;
  font-size: 16px;
  margin-bottom: 5px;
}

.close_form3 {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.close_form3 img {
  width: 20px;
  height: auto; 
}

/* Estilo base para los botones */
.action_botton {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto de hover para el botón */
.action_botton:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para las imágenes dentro del botón */
.action_botton img {
  width: 15px;
  height: 15px;
  transition: opacity 0.3s ease;
}

/* Efecto de hover en la imagen */
.action_botton:hover img {
  opacity: 0.8;
}


.error-container {
  color: red;
  border: 1px solid red;
  padding: 10px;
  margin-top: 10px;
  background-color: #fdd;
}
