/* Contenedor principal de la aplicación */
.main {
  position: relative;
  grid-column: 2 / span 5;
  grid-row: 2 / span 3;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 10px;
}

/* Contenedor del formulario */
.contenedor_user_setting {
  background-color: #f5f5f5;
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  margin: 10px;
  position: relative;
  border: 4px solid #ccc;
  border-radius: 10px;
}

/* Estilo del título y su contenedor */
.titulo_setting {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.titulo_setting h2 {
  font-size: 20px;
  color: #04324D;
  margin-top: -10px;
}

/* Contenedor principal para la búsqueda */
.container_busqueda {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

/* Estilo para cada columna dentro del contenedor de búsqueda */
.column {
  flex: 1 1 calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 280px;
}

/* Estilo para los títulos dentro de cada columna */
.column h3 {
  font-size: 12px;
  color: #04324D;
  margin: 0 0 10px 0;
  text-align: center;
}

/* Estilo para las opciones de rol */
.role-options {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Estilo para cada opción de rol */
.role-option {
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 8px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  text-align: center;
  color: #333;
  border-radius: 10px;
  flex: 1;
  min-width: 93px;
  font-size: 11px;
}

.role-option:hover {
  background-color: #ade8ad;
  color: #04324D;
  border-color: #f2f2f2;
  transform: scale(1.05);
}

/* Estilo para el select de sede */
#sede-usuario {
  width: 100%;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 11px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Estilo del select cuando está en foco */
#sede-usuario:focus {
  border-color: #16a34a;
  box-shadow: 0 0 5px rgba(22, 163, 74, 0.3);
  outline: none;
}

/* Estilo para la barra de búsqueda */
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

/* Estilo para la barra de búsqueda */
.search-bar input[type="text"] {
  height: 35px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 12px;
  transition: border-color 0.3s ease;
  width: 100%;
}

.search-bar input[type="text"]:focus {
  border-color: #16a34a;
  outline: none;
}

/* Estilo para el botón de búsqueda */
.search-button {
  background-color: #005f73;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 11px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #1fb530;
}

/* Contenedor de la tabla */
.table-container {
  width: 100%;
  margin: 10px 0;
  overflow-x: auto;
  box-sizing: border-box;
}

/* Estilo de la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  border: 1px solid #333;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

/* Color de fondo para el encabezado */
thead th {
  background-color: #ccc;
  border: 1px solid #333;
}

th {
  color: #333;
  font-size: 13px;
  text-align: center;
  padding: 10px;
}

td {
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  font-size: 12px;
  border: 1px solid #ccc;
}

tbody td {
  border: none; /* Quita el borde interno de las celdas */
}

/* Botones de acción dentro de la tabla */
td.action-buttons {
  text-align: center;
}

/* Opcional: mejorar la visibilidad de las filas alternas */
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.save-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Estilo del botón de guardar */
.save-button {
  background-color: #005f73;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  width: 20%;
  text-align: center;
}

.save-button:hover {
  background-color: #1fb530;
}

.icon-setting {
  width: 50px;
  height: 50px;
  background-color: #005f73;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-top: -20px;
}

.main_setting-img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
}

p {
  color:  rgb(119, 115, 115);;
  font-size: 15px;
  margin-bottom: 5px;
  margin-left: 60px;
}

.close_form3 {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.close_form3 img {
  width: 20px;
  height: auto;
}

/* Estilo base para los botones */
.action_botton {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto de hover para el botón */
.action_botton:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para las imágenes dentro del botón */
.action_botton img {
  width: 15px;
  height: 15px;
  transition: opacity 0.3s ease;
}

/* Efecto de hover en la imagen */
.action_botton:hover img {
  opacity: 0.8;
}

/* Contenedor de errores */
.error-container {
  color: red;
  border: 1px solid red;
  padding: 10px;
  margin-top: 10px;
  background-color: #fdd;
}

/* Media Queries para Responsividad */

/* Estilos para pantallas de 768px o más (tabletas y PCs) */
@media (min-width: 768px) {
  .container_busqueda {
    gap: 20px;
    padding: 20px;
  }

  .column {
    flex: 1 1 calc(33.333% - 20px);
  }

  .save-button {
    width: 20%;
  }
}

/* Estilos para pantallas de 480px a 767px (tabletas en orientación vertical) */
@media (max-width: 767px) {
  .container_busqueda {
    flex-direction: column; /* Disposición en columna para pantallas más pequeñas */
    gap: 20px;
    padding: 10px;
  }

  .column {
    flex: 1 1 100%; /* Cada columna ocupa el 100% del ancho */
    min-width: auto; /* Elimina el ancho mínimo para adaptarse mejor */
  }

  .save-button {
    width: auto; /* Ajusta el ancho del botón */
  }
}

/* Estilos para pantallas menores a 480px (teléfonos móviles) */
@media (max-width: 479px) {
  .titulo_setting h2 {
    font-size: 18px;
  }

  .column h3 {
    font-size: 12px;
  }

  .role-option {
    font-size: 10px;
    padding: 6px 12px;
  }

  .search-bar input[type="text"] {
    height: 30px;
    font-size: 10px;
    padding: 8px;
  }

  .search-button {
    font-size: 10px;
    padding: 6px 12px;
  }

  .save-button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .icon-setting {
    width: 40px;
    height: 40px;
  }

  .main_setting-img {
    width: 25px;
    height: 25px;
  }
}
