/* Contenedor principal */
.main {
    position: relative;
    grid-column: 2 / span 5;
    grid-row: 2 / span 3;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin: 10px;
  }
  
  /* Contenedor de búsqueda de reservas */
  .Container_buscarReserva {
    background-color: #f5f5f5;
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    border: 4px solid #ccc;
    border-radius: 20px;
  }

  .Header_Reserva p {
    font-size: 15px; 
    color: rgb(119, 115, 115); 
    text-align: left; 
    margin-left: 60px; 
}

  /* Título de búsqueda de reservas */
  .titulo_buscarreserva {
    display: flex;
    align-items: center;
  }
  
  .titulo_buscarreserva h2 {
    font-size: 20px;
    color: #04324D;
    margin: 0;
  }
  
  .icon-reserva {
    width: 50px;
    height: 50px;
    background-color: #005f73;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  
  .main_reservag-img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
  }
  
  /* Contenedor de filtro de reservas */
  .container_filtroReserva {
    padding:10px;
  }
  
   
  /* Estilo de los formularios */
  .form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .form-reservar {
    flex: 1 1 100px; 
    display: flex;
    flex-direction: row; 
    gap: 5px; 
 
  }
  
  .form-reservar label {
    font-size:12px; 
}
.form-reservar input,
.form-reservar button {
    font-size: 12px; 
    width: 100%;
    box-sizing: border-box;
}


/* Estilo general del modal */
.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); 
  transition: opacity 0.3s ease; 
  align-items: center;
}

/* Contenido del modal */
.modal-content {
  background-color: white;
  margin: 5% auto;
  padding: 10px;
  border-radius: 7px; 
  width: 100%;
  max-width: 510px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  transition: transform 0.3s ease-out, opacity 0.3s ease-out; 
}

/* Encabezado del modal */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ccc; 
  padding: 10px;
}

/* Título del modal */
.modal-title {
  font-size: 16px; 
  font-weight: 600; 
  color: #333; 
}

/* Botón de cerrar */
.btn-closeModal {
  background: none;
  border: none;
  font-size: 20px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: -25px;
}

/* Contenido principal del modal */
.modal-body {
  font-size: 12px;
  color: #333;
}
/* Estilo para los contenedores de los campos */
.mb-3 {
  margin-bottom: 15px; 
  display: flex; 
  align-items: center; 
  gap: 15px; 
}

/* Estilo para las etiquetas de los campos */
.form-label {
  font-size: 12px; 
  font-weight: 600;
  color: #04324D; 
  margin: 0;
  white-space: nowrap; 
}

/* Estilo para los campos de entrada */
.form-control {
  flex: 1; 
  padding: 5px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  font-size: 1em; 
  color:  rgb(119, 115, 115); 
  box-sizing: border-box; 
}

/* Estilo para los campos de entrada al enfocarse */
.form-control:focus {
  border-color: #28a745; 
  outline: none; 
  box-shadow: none; 
}
/* Botón de acción (opcional) */
.modal-footer {
  display: flex;
  justify-content: center;
}

.modal-footer button {
  background-color: #005f73; 
  color: #fff; 
  border: none;
  border-radius: 7px;
  padding: 7px 30px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-footer button:hover {
  background-color: #28a745; 
}


/* Botones */
.btn {
    display: inline-block;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
}

.btn-personalizar {
  color: #04324D; 
  font-weight: 500; 
  background-color: white; 
  border: solid 2px #ccc; 
  border-radius: 5px; 
  padding: 10px;
  font-size: 14px; 
  cursor: pointer; 
  transition: all 0.3s ease; 
  text-align: center;
  display: inline-block; 
}

.btn-personalizar:hover {
  background-color: #e0e0e0;
  border-color: #999; 
  color: #033e5b; 
}

.btn-personalizar:focus {
  outline: none; 
  box-shadow: none;
}

.btn-buscar {
  background-color: #005f73; 
  color: #fff; 
  border: none; 
  border-radius: 7px; 
  padding: 7px 3px; 
  font-size: 1em; 
  font-weight: 600; 
  cursor: pointer; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  width: 100%;
  }

/* Estilo para el botón de éxito al pasar el ratón */
.btn-buscar:hover {
background-color: #1fb530; 
color: white;
}

/* Estilo para el botón de éxito al hacer clic */
.btn-success:active {
background-color: #148227; /* Color de fondo verde aún más oscuro */
transform: translateY(1px); /* Efecto de presionado */
}

  /* Estilo para el botón de cerrar */
  .close_form7 {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .close_form7 img {
    width: 20px;
    height: auto;
  }

  /* Estilo para mensajes de error */
  .error-container {
    color: red;
    padding: 10px;
    margin-top: 10px;
    background-color: #fdd;
  }
  
  .form-check-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 2px; 
}

/* Estilo para cada casilla de verificación */
.form-check {
    display: flex; 
    align-items: center; 
}

/* Estilo opcional para los inputs y labels dentro de cada casilla */
.form-check-input {
    margin-right: 5px; 
}


/* Contenedor para los botones de los días */
.dias-semana {
    display: flex;
    gap: 10px; 
    flex-wrap: wrap; 
}

/* Estilo para los botones de los días */
.dia-btn {
    background-color: #fff;
    border: 2px solid #007bff;
    border-radius: 4px;
    color: #007bff;
    cursor: pointer;
    font-size: 18px;
    line-height: 20px;
    padding: 10px 15px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    outline: none;
}

/* Estilo cuando el botón está seleccionado */
.dia-btn.selected {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

/* Estilo cuando el botón está deshabilitado */
.dia-btn.disabled {
    background-color: #ddd;
    color: #888;
    border-color: #ddd;
    cursor: not-allowed;
}
.mb-3 {
    margin-bottom: 1rem;
}

/* Estilo para el label del campo */
.form-label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

/* Contenedor para el input y el texto */
.input-group {
    display: flex;
    align-items: center; /* Centra verticalmente el texto con el input */
}

/* Estilo para el campo de entrada */
.form-control {
    width: 100px; 
    margin-right: .5rem; 
    padding: .375rem .75rem;
    font-size: .875rem;
}

/* Estilo para el texto de grupo de entrada */
.input-group-text {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    font-size: .875rem;
    color: #495057;
    border-radius: .25rem;
}


/* Contenedor de las pestañas */

/* Estilos generales para el contenedor principal */
.reservar_busquedas {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para la sección de selección de ambiente */
.select_ambienteReserva {
    display: flex;
    margin-bottom: 10px;
}

/* Estilos para las pestañas */
.select_res {
   padding: 10px 20px;
  cursor: pointer; 
  transition: border-color 0.3s ease, background-color 0.3s ease; 
  font-size: 16px;
  color: #838181;
  border-bottom: 2px solid #ccc; 
}

/* Ocultar las pestañas no activas */
.tab-sedes {
    display: none;
}

/* Mostrar la pestaña activa */
.tab-sedes.active {
    display: block;
}

.select_res.active {
  color: #04324D; 
  font-weight: bold; 
  font-size: 16px;
  border-bottom: none; 
  border-left: 2px solid #ccc;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  }
  
  /* Estilo para los tab-sedes */
  .tab-sedes {
    display: none;
    padding: 10px;
    width: 100%;
  }
  
  
  .tab-reserva {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding: 10px; 
    width: 95%;
    height: auto;
}

/* Estilo del título de cada pestaña */
.titlle_central,
.titlle_pomar,
.titlle_buenosaires,
.titlle_USB {
    margin-bottom: 10px; /* Espacio debajo del título */
}

.titlle_central h2,
.titlle_pomar h2,
.titlle_buenosaires h2,
.titlle_USB h2 {
    font-size: 14px; 
    color: #333; 
    margin: 0; 
}

  /* Estilo para el contenedor de tablas */
  .table-containerReservas {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
  }
  
  /* Estilo para las tablas */
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #04324D;
    table-layout:auto;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Estilo del encabezado de la tabla */
  thead th {
    background-color: #ccc;
    color: #04324D;
    font-size: 13px;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #04324D;
  }
  
  /* Estilo para las celdas del encabezado y el cuerpo de la tabla */
  th, td {
    box-sizing: border-box;
  }
  
  /* Estilo para las filas del cuerpo de la tabla */
  tbody tr {
    border-bottom: 1px solid #ddd;
  }
  
  /* Estilo para la primera fila del cuerpo de la tabla */
  tbody tr:first-child {
    border-top: 1px solid #04324D;
  }
  
  /* Estilo para la última fila del cuerpo de la tabla */
  tbody tr:last-child {
    border-bottom: 1px solid #04324D;
  }
  
  /* Estilo para las celdas del cuerpo de la tabla */
  td {
    padding: 5px;
    text-align: center;
    font-size: 12px;
  }
  
  /* Estilo para los botones dentro de las celdas */
  td button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
  }
  
  td button img {
    width: 24px;
    height: 24px;
    filter: invert(30%) sepia(100%) saturate(500%) hue-rotate(80deg) brightness(95%) contrast(90%);
  }
  
  /* Estilo para los botones dentro de las celdas */
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
  }