.main {
  position: relative;
  grid-column: 2 / span 5;
  grid-row: 2 / span 3;
  background-color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  overflow: hidden;
  margin: 10px;

}

.container_editUser {
  background-color: white;
  padding: 5px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  position: relative;
  border: 4px solid #ccc;
  border-radius: 10px;
  overflow: hidden; 
}

.titulo_micuenta {
  display: flex;
  align-items: center;
  margin-bottom:0;
  gap: 15px;
}

.titulo_micuenta h1 {
  font-size: 20px;
  color: #04324D;
  margin: 0;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; 
  height: 50px; 
  background-color: #04324D; 
  border-radius: 50%; 
  overflow: hidden; 
  margin-left: 10px;
}

.icon {
  width: 40px; 
  height: 40px; 
}

.close_form7 {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.close_form7 img {
  width: 24px; 
  height: 24px;
}

.contenedor_selectinfo{
  display: flex;
  flex-direction: row;
  width: 90%; 
  align-items: flex-start;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  margin-left: 80px;
}

.select_info {
  padding: 10px 15px;
  cursor: pointer; 
  transition: border-color 0.3s ease, background-color 0.3s ease; 
  font-size: 16px;
  color: #04324D;
  border-bottom: 2px solid #ccc; 
}


.select_info.active {
  color: #333; 
  font-weight: bold; 
  font-size: 16px;
  border-bottom: none; 
  border-left: 2px solid #ccc;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
}

.tab-content {
  display: flex; 
  flex-direction: column; 
  margin: 10px;
  width: 100%;
  height: 100%; 
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}


.tab-content > .tab-User {
  display: none;
}

.tab-content > .tab-User.active {
  display: block;
}

.tab-User{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  padding: 5px; 
  height: 100%; 
  box-sizing: border-box;
  width: 100%; 
  margin: 0;
  overflow:hidden;
}


.form-editarusuario {
  flex: 1; 
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  border: 3px solid #ccc;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  max-width: 350px;
  margin: 0 auto; 
  font-family: 'Montserrat', sans-serif;
}

.editUser-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px;
}

.titulo_edit {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  width: 100%;
  gap: 40px;
}

.titulo_edit h2 {
  font-size: 18px;
  margin-left: 50px;
  color: #333;
  margin-bottom: 5px;
  font-weight: bold;
}

.editarinfo {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background: none; 
  border: none; 
  padding: 0; 
  cursor: pointer; 
  outline: none; 
}

.editarinfo img {
  margin-top: 10px;
  width: 25px; 
  height: auto; 
  filter: invert(30%) sepia(100%) saturate(500%) hue-rotate(80deg) brightness(95%) contrast(90%);
}


.form-group_edit,
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

form label,
label {
  font-size: 12px;
  margin-bottom: 5px;
  color: #333;
}

form input,
input {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

form input:focus,
input:focus {
  border-color: #38de38;
  outline: none;
}

.editUser-button {
  background-color: #04324D;
  color: white;
  border-radius: 7px;
  padding: 10px 20px;
  font-size: 14px;
  width: 100%;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.editUser-button:hover {
  background-color: #1fb530;
}


/*PESTAÑA 2 - PASS*/

.Contenedor_passapp {
  display: flex;
  flex-direction: column;
  width: 100%; 
  max-width: 100%; 
  height: auto; 
  box-sizing: border-box; 
  align-items: center;
  justify-content: center;

}

.titulo_pass {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: -10px;
  gap: 5px;
}

.titulo_pass p {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  text-align: left;
}


.body_pass {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  width: 100%; 
  height: auto; 
  box-sizing: border-box; 
  padding: 10px;
  background-color: white; 
}


.formpass-container {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  border: 3px solid #ccc;
  padding: 10px;
  width: 100%;
  max-width: 350px; 
  box-sizing: border-box;
  box-shadow: none;
}

.titulo_form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  gap: 5px;
}

.titulo_form h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.titulo_form .form-icon {
  width: 30px;
  height: auto;
}

.password-form {
  width: 90%;
}

.form-group {
  margin-bottom: 10px;
}

.password-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: left;
}

.password-wrapper input {
  width: calc(100% - 50px);
  padding: 8px;
  border: none;
  border: 2px solid #ced4da;
  border-radius: 10px;
  box-shadow: none;
  font-size: 14px;
  font-family: Arial, sans-serif;
}



.password-wrapper button.toggleapp-password {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: #333;
}

input[type="password"]:focus,
input[type="text"]:focus {
  border-color: #1fb530;
  outline: none;
}

.pass-button {
  background-color: #04324D;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 92%;
  margin: 10px;
}

.pass-button:hover {
  background-color: #1fb530;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .form-container {
      width: 50%;
      padding: 10px;
  }

  .container_superiorpass img {
      margin-left: 15px;
  }

  .titulo_form h2 {
      font-size: 18px;
  }
}

@media (max-width: 768px) {
  .form-container {
      width: 95%;
      padding: 10px;
  }

  .container_superiorpass img {
      margin-left: 10px;
  }

  .titulo_form h2 {
      font-size: 16px;
  }

  .body_pass {
      flex-direction: column;
      gap: 5px;
      margin: 10px;
  }
}

.close_form7 {
  position: absolute;
  top: 20px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.close_form7 img {
  width: 24px; 
  height: 24px;
}

.edit_datapersonal img{
  width: 30px;
  height: auto;
  filter: invert(30%) sepia(100%) saturate(500%) hue-rotate(80deg) brightness(95%) contrast(90%);
}
p{
    font-size: 14px;
  line-height: 1.5;
  color: #333;
  margin-left: 60px;
}