body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; 
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1.5fr repeat(5, 1fr); 
    grid-template-rows: auto 1fr auto; 
    gap: 0px;
    width: 100vw; 
    height: 100vh; 
    padding: 0;
  }
  
  #header {
    grid-column: 2/ span 6; 
    grid-row: 1;
    background-color: white;
  }
  
  #navbar {
    grid-column: 1; 
    grid-row: 1 / span 4; 
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    border-bottom-right-radius: 70px;

  }
  
 
  .container_pass {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: white;
    padding: 20px;
}

.hidden {
  display: none;
}
.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  border: 3px solid #ccc;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box; 
}

/* Estilo para el título del formulario */
.titulo_form {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-bottom: 20px; 
  position: relative; 
  top: 0; 
  width: 100%; 
}

  
  .titulo_form h2 {
    font-size: 14px; 
    color: #04324D;
  }
  
  
  /* Estilo para el ícono del título */
  .main__img {
    width: 30px; 
    height: auto; 
  }
  
 /* Estilo para los grupos de formulario */
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
}

form label {
  font-size: 12px;
  margin-bottom: 5px;
  color: #04324D;
}

/* Estilo para los labels */
label {
  margin-bottom: 5px;
  font-size: 10px;
}

form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  width: 90%;
  box-shadow: none;
}

form input:focus {
  border-color: #38de38;
  outline: none;
}

/* Estilo para los inputs */
input {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 90%;
}

.password-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.password-wrapper input {
  width: calc(100% - 40px); 
  padding-right: 40px;
}

.password-wrapper .toggle-password {
  position: absolute;
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 12px;
}

/* Estilo para el botón de envío */
.submit-button {
  background-color: #04324D;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  width: 100%;
  text-align: center;
  border: none;
  cursor: pointer;
}

/* Estilo para el botón de envío en hover */
.submit-button:hover {
  background-color: #38de38;
  padding: 10px;
}
  
.close_form {
  position: absolute; 
  top: -20PX; 
  right: -10PX; 
  background: none; 
  border: none; 
  cursor: pointer; 
  margin: 0; 
}

/* Estilo para el ícono del botón de cerrar */
.close-icon {
  width: 24px; 
  height: auto; 
}

/* Estilo para el ícono del título */
.form-icon {
  filter: invert(32%) sepia(87%) saturate(516%) hue-rotate(115deg) brightness(95%) contrast(101%);
}


/* NAVBAR*/

.navbar {
    grid-column: 1 / span 2;
    grid-row: 1 / span 6;
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: -5%; 
    background-color: #e0e0e0;
  }
  
  
  .footer {
    grid-column: 3 / span 4; 
    grid-row: 5;
    background-color: #dca5a5;
  }
  
  
  
  /* inicio NAVBARRR */
  .img_sena {
    position: relative;
    max-width: 100px;
    height: 80px;
    margin: 20px;
  }
  
  .navbar__list {
    list-style: none;
    padding: 0;
    margin: 0px;
  }
  
  .navbar__item {
    position: relative;
    margin-bottom: 0;
    padding: 10px;
    transition: margin-bottom 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .navbar__button {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    background-color: #f6f1f1a4;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border-radius 0.3s;
    position: relative;
  }
  
  .navbar__button:hover {
    background-color: #38de38;
    border-radius: 30px;
    color: white;
    border: 2px solid #bbb;
  }
  
  .navbar__button:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
  }
  
  .navbar__img {
    width: 35px;
    height: 30px;
    margin-right: 8px;
    filter: brightness(0) invert(1);
  }
  
  .navbar__link {
    flex-grow: 1;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
  }
  
  .navbar__circle {
    width: 55px;
    height: 55px;
    background-color: #38de38;
    border-radius: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 7px;
    overflow: hidden;
  }
  
  .navbar__arrow {
    margin-left: -10px;
    width: 15px;
    height: 15px;
    transition: transform 0.3s;
  }
  
  .navbar__arrow--rotate {
    transform: rotate(180deg);
  }
  
  .navbar__submenu {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 60px;
    width: 90%;
    border-left: 1px solid #38de38;
    z-index: 1;
    transition: height 0.3s ease;
    overflow: hidden;
  }
  
  .navbar__submenu--show {
    display: block;
  }
  
  .navbar__submenu-item {
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .navbar__submenu-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    filter: invert(30%) sepia(100%) saturate(500%) hue-rotate(80deg) brightness(95%) contrast(90%);
  }
  
  .navbar__submenu-link {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 12px;
  }
  
  .navbar__submenu-item:hover {
    background-color: #ade8ad;
    border-radius: 20px;
  }
  

  /*HEADER*/
  /* Estilo general para el contenedor del header */
  .contenedor_header {
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start; 
    padding: 10px; 
    position: relative; 
  }
  
  /* Estilo para el contenedor de la navegación */
  .navheader {
    display: flex;
    align-items: center; 
    position: relative; 
 
  }
  
  /* Estilo para el botón de menú */
  .menu-toggle {
    background: none; 
    border: none; 
    cursor: pointer; 
    padding: 0; 
    margin-right: 30px; 
 
 
  }
  
  /* Estilo para la imagen dentro del botón */
  .menu-toggle img {
    width: 30px; 
    height: auto; 
    filter: sepia(100%) hue-rotate(200deg) saturate(200%);
  }
  
  /* Estilo para el menú de navegación */
  .navigation-menu {
    width: 120px;
    background-color: white;
    display: none; 
    list-style: none; 
    margin: 0; 
    position: absolute; 
    top: 80%; 
    right: 55%; 
    box-shadow: 0 3px 7px rgba(0,0,0,0.2); 
    padding: 10px; 
    z-index: 1000; 
    display: flex;
    flex-direction: column; 
    gap: 5px;
    border-radius: 5px;
  }
  /* Estilo para los ítems del menú */
  .navigation-item {
    display: flex;
    align-items: center; 
    padding: 10px;
    transition: background-color 0.3s ease; 
    
}

.navigation-item:hover {
    background-color: #ade8ad; 
}
  /* Estilo para las imágenes dentro de los ítems del menú */
  .subheader__img {
    width: 20px; 
    height: auto; 
    margin-right: 10px; 
    filter: invert(32%) sepia(87%) saturate(516%) hue-rotate(115deg) brightness(95%) contrast(101%)
  }
  
  /* Estilo para los enlaces del menú */
  .menu_item {
    color: #04324D; 
    text-decoration: none; 
    font-size: 14px; 
  }

 /* Estilo del contenedor principal */
.main {
  position: relative;
  grid-column: 2 / span 5; 
  grid-row: 2 / span 4;   
  background-color: white;
  display: grid; 
  gap: 10px; 
  padding: 10px;
  box-sizing: border-box; 
}

/* Estilo para el contenedor de la página principal */
.contenedor_pagprincipal {
  display: grid; 
  grid-template-columns: 40% 60%; 
  gap: 10px; 
  margin: 20px;
}

/* Estilo para la columna 1 */
.column-1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

/* Estilo para la columna 2 */
.column-2 {
  display: grid; 
  grid-template-rows: 65% 35%; 
  gap: 10px;
}

/* Estilo para las secciones en ambas columnas */
.section {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #ffffff;
}

/* Estilo para la sección de imágenes en la columna 1 */
.column-1 .section img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  display: block; 
}

/* Estilo para el contenedor del calendario */
.contenedor_calendar {
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 100%;
  height: 100%; 
  overflow: hidden; 
  padding: 10px; 
  box-sizing: border-box; 
}

/* Estilos personalizados para el calendario */
#calendar {
  width: 100%; 
  height: auto; 
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo del calendario */
.flatpickr-calendar {
  background: #ffffff;
  border-radius: 10px; 
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); 
  padding: 2px; 
  font-size: 0.8rem; 
  box-sizing: border-box; 
}

/* Cabecera del calendario */
.flatpickr-header {
  background: #007bff; 
  color: #ffffff;
  border-radius: 10px; 
}

/* Botones de la cabecera */
.flatpickr-prev-month, .flatpickr-next-month {
  color: #ffffff; 
}

/* Títulos de los días de la semana */
.flatpickr-days .flatpickr-day.weekend {
  color: #007bff; 
}

/* Días del mes */
.flatpickr-day {
  color: #333333; 
  border-radius: 50%; 
  padding: 7px; 
  margin: 2px; 
  cursor: pointer; 
}

/* Día seleccionado */
.flatpickr-day.selected {
  background: #007bff; 
  color: #ffffff; 
}

/* Día actual */
.flatpickr-day.today {
  border: 2px solid #007bff; 
  background: #f0f8ff; 
}

/* Días del mes dentro del calendario (hover) */
.flatpickr-day:hover {
  background: #f0f8ff; 
}

/* Estilos para el contenedor del calendario cuando está en modo de selección de rango */
.flatpickr-range {
  border-radius: 0; 
}

/* Estilos para el rango seleccionado */
.flatpickr-day.inRange {
  background: #e6f7ff; 
}
