/* Estilo base para la página */
.main {
  position: relative;
  grid-column: 2 / span 5;
  grid-row: 2 / span 3;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  overflow-x: hidden;
}

.container_sedes {
  background-color: #f5f5f5;;
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 10px;
  position: relative;
  border: 4px solid #ccc;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Estilo para el <h1> */
.sede-title {
  color: #04324D;
  margin-bottom: 20px;
  font-size: 22px;
  margin-top: 5px;
  margin-left: 50px;
  text-align: left;
  font-weight: bold;
}

/* Estilo para el contenedor de reportes */
.contenedor_reportes {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
 background-color: #f5f5f5;
  align-items: flex-start;
  box-sizing: border-box;
  margin-left: 30px;
}

/* Estilo para cada pestaña */
.select_amb {
  padding: 10px 50px;
  cursor: pointer;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  font-size: 16px;
  color: #838181;
  border-bottom: 2px solid #ccc;
}

/* Estilo para la pestaña activa */
.select_amb.active {
  color: #333;
  font-weight: bold;
  font-size: 16px;
  border-bottom: none;
  border-left: 2px solid #ccc;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  padding: 10px 50px;
}

/* Contenido de la pestaña */
.tab-content {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
}

/* Estado REPORTES */
.Buscar_sedes {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
  margin-bottom: 20px;
}

.Buscar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.Buscar h3 {
  font-size: 12px;
  color: #333;
  margin: 0 0 15px 0;
  text-align: center;
}

.estado-options {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

/* Estilo para cada opción de rol */
.estado-option {
  background-color: white;
  border: 1px solid #04324D;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  text-align: center;
  color: #333;
  border-radius: 10px;
  flex: 1;
  min-width: 70px;
  font-size: 12px;
}

/* Estilo para cada estado de opción */
.estado-option[data-role="Pendiente"]:hover {
  color: #333;
  transform: scale(1.05);
  background-color: #f7b0b0;
}

.estado-option[data-role="En revisión"]:hover {
  color: #333;
  transform: scale(1.05);
  background-color: #f6f863;
}

.estado-option[data-role="Cerrado"]:hover {
  color: #333;
  transform: scale(1.05);
  background-color: #44f74a;
}

.filter-container {
  display: flex;
  align-items: center;
  margin-left: 50px;
  gap: 5px;
  width: 90%;
  margin-top: -8px;
}

.filter-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-group {
  display: flex;
  flex-direction: column;
  
}

.filter-group label {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
  
}

.filter-group input[type="date"] {
  padding: 10px;
  border: 1px solid #04324D;
  border-radius: 10px;
  font-size: 12px;
  color: #333;
  background-color: white;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  margin-left: 30px;

}

/* Estilo para el botón de búsqueda */
.fecha-button {
  background-color: #005f73; 
  color: white;
  border: none;
  padding: 7px 20px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease;
  margin-left: 30px;
  margin-top: 10px;
}

.fecha-button:hover {
  background-color: #1fb530;
}

.table-containerReportes {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

/* Estilo para la tabla de reportes */
#reportTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  border: 1px solid #04324D;
  font-family: 'Montserrat', sans-serif;
}


/* Estilo del encabezado de la tabla */
thead th {
  background-color: #ccc;
  color: #04324D;
  font-size: 13px;
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #04324D;
}

/* Estilo para las celdas del encabezado y el cuerpo de la tabla */
th, td {
  box-sizing: border-box;
}

/* Estilo para las filas del cuerpo de la tabla */
tbody tr {
  border-bottom: 1px solid #ddd;
}

/* Estilo para la primera fila del cuerpo de la tabla */
tbody tr:first-child {
  border-top: 1px solid #04324D;
}

/* Estilo para la última fila del cuerpo de la tabla */
tbody tr:last-child {
  border-bottom: 1px solid #04324D;
}

/* Estilo para las celdas del cuerpo de la tabla */
td {
  padding: 5px;
  text-align: center;
  font-size: 12px;
  border-left: none;
  border-right: none;
}

/* Estilo para las celdas de acción */
td.action-buttons {
  text-align: center;
}

/* Estilo para los encabezados */
th {
  padding: 10px;
}

/* Estilo para los botones dentro de las celdas */
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

button img {
  width: 24px;
  height: 24px;
  filter: invert(30%) sepia(100%) saturate(500%) hue-rotate(80deg) brightness(95%) contrast(90%);
}

/* Estilo base para los botones */
.acciones_botton {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 11px;
  display: inline-flex;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto de hover para el botón */
.acciones_botton:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para las imágenes dentro del botón */
.acciones_botton img {
  width: 15px;
  height: 15px;
  transition: opacity 0.3s ease;
}

/* Efecto de hover en la imagen del botón */
.acciones_botton:hover img {
  opacity: 0.8;
}

/* Estilo para el contenedor del botón de reportes */
.container_buttonReportes {
  display: flex;
  justify-content: center;
}

.reportes-button {
  background-color: #005f73;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 15%;
  margin-top: 20px;
}

.reportes-button:hover {
  background-color: #1fb530;
}

/* Estilo para el selector de estado */
.select-status {
  background-color: white;
  border: 1px solid #04324D;
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.select-status:focus {
  outline: none;
  border-color: #1fb530;
  box-shadow: 0 0 4px rgba(0, 255, 0, 0.2);
}

/* Estilo para las opciones del estado */
.option-pending {
  background-color: #f7b0b0;
}

.option-in-review {
  background-color: #f6f863;
}

.option-closed {
  background-color: #44f74a;
}

.option-pending:hover,
.option-in-review:hover,
.option-closed:hover {
  background-color: #ddd;
}

/* Estilo para el panel de contenido */
.tab-pane {
  display: none;
  width: 100%;
  height: 100%;
  flex: 1;
  overflow:hidden;
}

.tab-pane.active {
  display: block;
}

/* Sección ACTUALIZAR */
.Actualizar {
  padding: 10px;
  background-color: #f5f5f5;
}

.Actualizar  h3 {
  font-size: 12px;
  color: #333;
  margin: 0 0 15px 0;
  text-align: left;
  font-weight: bold;
}

.Select_estadoAmbiente {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
}

.Select_estadoAmbiente select:focus {
  outline: none; 
  border: 1px solid #1fb530; 
  box-shadow: 0 0 5px rgba(24, 236, 130, 0.5); 
  background-color: #f5f5f5; 
  transition: border-color 0.3s, box-shadow 0.3s; 
}


.search-input {
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 7px;
  font-size: 12px;
  color: #333;
  background-color: white;
  box-sizing: border-box;
  width: 200px;
}

.Actualizar-button {
  background-color: #005f73; 
  color: white;
  border: none;
  padding: 7px 20px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease;
}

.Actualizar-button:hover {
  background-color: #1fb530;
}


.modal_estadoAmbientes {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  background-color: rgba(0, 0, 0, 0.5); 
}

/* Contenido del modal */
.modal-content {
  background-color: #fff;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 70%; 
  max-width: 350px; 
  border-radius: 8px;
  position: relative; 
  font-family: 'Montserrat', sans-serif;
}

/* Estilo del header del modal */
.modal-header {
  padding: 10px 20px;
  border-bottom: 2px solid #ccc;
  position: relative;
  
}

.modal-header h2 {
  margin: 0;
  font-size: 20px;
  color:#333;
  font-weight: bold;
}

/* Estilo del botón de cierre */
.close {
  position: absolute;
  top: -10px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}

/* Estilo cuando el botón de cierre está en hover */
.close:hover {
  color: black;
}

/* Estilo del cuerpo del modal */
.modal-body {
  background-color: #fff; 
  border-radius: 7px; 
  padding: 20px; 
  max-width: 600px; 
  margin: auto; 
  position: relative; 
  z-index: 1000; 
}
#statusForm textarea {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  font-size: 14px; 
  line-height: 1.5; 
  resize: vertical; 
  transition: border-color 0.3s, box-shadow 0.3s; 
}

/* Estilos de enfoque para el área de texto */
#statusForm textarea:focus {
  outline: none; 
  border-color: #1fb530;
  box-shadow: 0 0 5px rgba(82, 212, 88, 0.5); 
}
/* Estilo del footer del modal */
.modal-footer {
  padding: 10px 20px;
  border-top: 1px solid #ddd;
  text-align: center; 

}


/* Estilos para el contenedor de tarjetas */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Estilos para cada tarjeta */
.card {
  background-color: #f5f5f5;
  border: 3px solid #ccc;
  border-radius: 7px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 16px;
  margin: 0 0 10px 0;
  text-align: center;
  color: #04324D;
}

.card-description {
  font-size: 13px;
  text-align: center;
}

.card-status {
  padding: 10px;
  border-radius: 7px;
  font-weight: bold;
  color: black;
  display: inline-block;
}

.card-status.available {
  background-color: #44f74a;
}

.card-status.closed {
  background-color: #fc4747;
}

.card-status-select {
  text-align: center;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border: 3px solid #ccc;
  border-radius: 4px;
  background-color: white;
  transition: all 0.3s ease;
}

.card-status-select:focus {
  outline: none;
  border-color: #1fb530;
  box-shadow: 0 0 4px rgba(0, 255, 0, 0.2);
}

/* Botón para cerrar el formulario */
.button_clausurar {
  background-color: #005f73;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button_clausurar:hover {
  background-color: #1fb530;
}

.close-form9 {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
}

/* Estilo para el botón de búsqueda en la sede central */
.fecha-button {
  background-color: #005f73; 
  color: white;
  border: none;
  padding: 7px 20px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease;
  margin-left: 30px;
}

.fechacentral-button:hover {
  background-color: #1fb530;
}
