<header class="header">
  
  <div class="contenedor_header  d-flex align-items-center justify-content-between">
    
    <div class="bienvenido" id="bienvenido-container">
      <h5 class="mb-0" id="bienvenido-message"></h5>
    </div>
      <div class="d-flex align-items-center">
        <button class="menu-toggle" id="notificacion_portal">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAVVJREFUSEvtlmESATEMhbM34SQ4CU6Ck+AkOAk3oW+mnXlbbZMUs39kxjBrmy95adIOMpENE3GlFzwTkU34PETk1BN8L/giIssIBHzuhXvBexFZhyyRMRvg5/AA/5vMCkZ2yFIzBLANaly1Fy3gHJqyg2/8XkQFWHoVroEh6Z2iP1TkTJttR3VvwjUwb6KVQUJWB7sd8KK1wGYnmedjbDU8rgbbAqNP4QSGdkE9LcblqZWmOUA4cq0keUDP+KALnOqL1oBkHlPXtjJRFzciUdf+wayeKtcvpO7t4RRLCrp6eJRqnM9my8TKk2cfRXgJnHqwOXkMvcUD6O3MzsEcKeZs1+2CgmL4SLkWWD1TDVljfKZLgxls8Ot6ZTTvSzXG9QWH+zftFpyNrkXe4f+1YLzg/EbCgbjazgsGiHdqArugWNQDxjpkjtbDt/lKy/L0gj+u9WTgF6EtVh8Kw1GbAAAAAElFTkSuQmCC"/>
        </button>
          <button class="menu-toggle" id="toggleButton">
              <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAGZJREFUSEvtlrENACAMw8pnnMZpfAYTC1W3CDOEA2JhUpUW0GkQNwx+Zt6qj+ohdp7yKtVLDE6c78DiC+c4t/o46WLX8877rlzYOGGqxU/scYryB4KVCwNja9GtlhvwWpQrrQIx1Rt3TwofeC3yFwAAAABJRU5ErkJggg==" alt="menu">
          </button>

          <div class="navheader">
              <ul class="navigation-menu">
                  <li class="navigation-item d-flex align-items-center">
                      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAATtJREFUSEvNlgEOwiAMRdlN9CZ6Ez2JehL1JHoTvYnuLeuCBGgHJEiyTBPo6y9t18F1WkMnrrOAN865Q6WDb+fczbdhAb/GQ8BrF/CtGNHAKL3WEr3zl/H3mf8amE0nBYyS5xyVnbK3GXgxNAM1R5uAUbmPKHyMEUgpbwI+hplqUN0EHIZZxOfCHQX7ByTpckZIKkLN21+fTII1AWMfKMa4b+6VCsjVfDPw2hJvCkY1j1bDOFkNBnSXLuTJlr6eajpV4FT9+mHHAVptGIVi8E+jVy4YOM3ET7ZiMJ82God1heVYDJbSsYKlxGR/MdgKTO3rBl76u/89jrXMWIKUqk5OIDEwEODcVe34M00esjTFperUc38BJpwUfO3S5rjJfrgpN7ZYHSoCY5yRtiaRfpIo5a3JO6vUNfu6gb8IxlgfT6zOAAAAAABJRU5ErkJggg==" alt="Notificaciones" class="subheader__img">
                      <a href="../Gestión_Usuarios/HTML_usuarios/Editar_micuenta.html" class="menu_item" id="editar_cuentaAlistamiento">Mi Cuenta</a>
                  </li>
                  <li class="navigation-item d-flex align-items-center">
                      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAK9JREFUOE/NlIsJwjAURU83cRN1E52kOondRJ1EN6k9kkDA5oME8UIobdOT+25eOtBJQycONdAJ2BYWuy/vnFMFzcAzjDXeDjgCU8mRk67AHrhlXLnQWVc/A43BuoYOMY/EXZOjtJpY5ruMFpCZrGmzBOpQhm9uXrOOciABulIGL0h9XdqUZNYMspRL2F4/8l5QqiZH/9dHlvIodHXcgOoRcWK3Q5tpq8/Htd9IM+gFNoU0E7d5v9EAAAAASUVORK5CYII=" alt="Notificaciones" class="subheader__img">
                      <a href="#" class="menu_item" id="submenuToggle3">Salir</a>
                  </li>
              </ul>
          </div>
      </div>

  </div>
</header>