.main {
  position: relative;
  grid-column: 2 / span 5; 
  grid-row: 2 / span 3;   
  background-color: white;
  display: flex;
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
  margin: 10px;
}


.container_ambiente_setting {
      background-color: white;
      padding: 10px;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      overflow: auto;
      margin: 10px;
      position: relative;
      border: 3px solid #ccc;
      border-radius: 10px;
}

.titulo_settingAmb {
  display: flex; /* Usa flexbox para alinear el contenido en una fila */
  align-items: center; /* Alinea verticalmente los elementos en el centro */
  gap: 10px; /* Espacio entre el ícono y el título */
  margin: 10px; /* Espacio inferior para separar de otros contenidos */
}

/* Estilo del título */
.titulo_settingAmb h2 {
  font-size: 24px; /* Tamaño de la fuente del título */
  font-weight: bold; /* Negrita para el título */
  color: #04324D; /* Color del texto */
  margin: 0; /* Elimina el margen por defecto del h2 */
  line-height: 1.2; /* Altura de línea para mejorar la legibilidad */
}


.icon-setting {
  width: 50px;
  height: 50px;
  background-color: #04324D;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-top: -10px;
  }

  .main_setting-img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
  }

  p {
  color: #333;
  font-size: 16px;
  margin-left: 20px;

  }
  
        /* Contenedor principal para la búsqueda, dividido en dos columnas */
  .container_busquedaAmb {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    padding: 10px; 
    margin-bottom: 20px;
  }
  
  /* Estilo para cada columna dentro del contenedor de búsqueda */
  .column_Amb {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
  
  /* Estilo para los títulos dentro de cada columna */
  .column_Amb h3 {
    font-size: 12px; 
    color: #04324D; 
    margin: 0 0 10px 0; 
    text-align: center; 
  }
  
    /* Estilo para la barra de búsqueda */
  .search-containerAmb {
    display: flex; 
    align-items: center; 
    margin-left: 70px;
    gap: 20px; 
    width: 60%; 
  }
  
  .search-barAmb {
    flex: 1; 
  }
  
  .search-barAmb input[type="text"] {
    height: 20px; 
    padding: 5px; 
    border: 2px solid #ccc; 
    border-radius: 10px; 
    font-size: 12px; 
    transition: border-color 0.3s ease; 
    width: 100%; 
  }
  
  .search-barAmb input[type="text"]:focus {
    border-color: #16a34a; 
    outline: none; 
  }
  
  /* Estilo para el botón de búsqueda */
  .search-buttonAmb {
    background-color: #04324D; 
    color: white; 
    border: none;
    padding: 8px 15px; 
    border-radius: 10px; 
    cursor: pointer; 
    font-size: 12px; 
    transition: background-color 0.3s ease; 
  }
  
  .search-buttonAmb:hover {
    background-color: #1fb530;
  }
  
  /* Contenedor de la tabla */
.table-containerAmb {
  width: 100%; 
  margin: 10px;
  overflow-x: auto; 
}

/* Estilo de la tabla */
.table_amb {
  width: auto;
  border-collapse: collapse; 
  table-layout: auto; 
  border: 1px solid #04324D;
  overflow-x: auto; 
}

/* Color de fondo para el encabezado */

th, td {
  box-sizing: border-box; /* Asegura que el relleno y el borde se incluyan en el ancho total de la celda */
}

tbody tr {
  border-bottom: 1px solid #ddd; 
}

tbody tr:first-child {
  border-top: 1px solid #ddd; 
}

tbody tr:last-child {
  border-bottom: 1px solid #04324D; 
}


thead th {
  background-color: #ccc; 
  border: 1px solid #04324D;
}
th {
  color: #04324D; 
  font-size: 12px;
  text-align: center; 
  padding: 10px; 
}

td {
  padding: 3px;
  text-align: center; 
  box-sizing: border-box; 
  font-size: 10px;
  border: 1px solid #04324D;
}

tbody td {
  border: none; /* Quita el borde interno de las celdas */
}

/* Botones de acción dentro de la tabla */
td.action-buttons {
  text-align: center; 
}

.action-buttonAmb {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

  button img {
    width: 30px; 
    height: 30px;
    filter: invert(30%) sepia(100%) saturate(500%) hue-rotate(80deg) brightness(95%) contrast(90%);
  }
  
  .save-button-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
  }
  
  /* Estilo del botón de guardar */
  .save-button {
    background-color: #04324D; 
    color: #fff; 
    border: none;
    border-radius: 20px;
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    margin-top: 20px; 
    width: 30%;
    text-align: center; 
  }
  
  .save-button:hover {
    background-color: #1fb530; 
  }
  
  
  
    .close_form4 {
      position: absolute; 
      top: 10px; 
      right: 10px; 
      background: none; 
      border: none;
      cursor: pointer; 
      padding: 0; 
  }
  
  .close_form4 img {
      width: 20px; 
      height: auto; 
  }
  
    /* Estilo base para los botones */
  .action-buttonAmb {
    border: none;
    background: transparent; 
    cursor: pointer; 
    padding: 0;
    display: inline-flex;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  /* Efecto de hover para el botón */
  .action-buttonAmb:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  
  /* Estilo para las imágenes dentro del botón */
  .action-buttonAmb img {
    width: 15px; 
    height: 15px;
    transition: opacity 0.3s ease; 
  }
  
  /* Efecto de hover en la imagen */
  .action-buttonAmb:hover img {
    opacity: 0.8; 
  }
  

  /* Estilo general para el select */
select {
  font-size: 14px; 
  padding: 7px; 
  border: 2px solid #ccc; 
  border-radius: 10px; 
  background-color: #fff; 
  color: #333; 
  width: 50%; 
  max-width: 300px; 
  box-sizing: border-box; 
  cursor: pointer;
  outline: none; 
}


/* Estilo para el contenedor del select en el estado de focus */
select:focus {
  border-color: #38de38; 
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.2); 
}


