body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    width: 100%; 
    height: 100%;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 5fr 4fr 1fr;
    gap: 0;
    width: 100vw; 
    height: 100vh;
    border: 2px solid white;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    grid-row: 1; 
    grid-column: 1 / span 6; 
    background-color: #04324D;
    display: flex;
    justify-content: space-between; 
    position: relative;
  }
  .main {
    grid-row: 2 / span 4; 
    grid-column: 4/ span 3; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 70vh; 
    box-sizing: border-box;
  }
  
 
 
  /*header*/
  .img_sena {
    position: relative;
    max-width: 100px;
    height: 70px;
    margin-left: 70px;
  }

  .container {
    display: flex;
    align-items: center;
  }
 
  .header-info {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }
  
  .header-info h1 {
    font-size: 30px;
    margin-bottom: 10px; 
    color: white;
  }
  
  .header-info h2 {
    font-size: 20px;
    color: white;
    margin-left: 120px;
  }
   
 
  .header-img {
    position: absolute; 
    right: 0; 
    top: 0; 
    height: 100%; 
    overflow: hidden; 
    display: flex;
    align-items: right; 
    z-index: 1; 
    clip-path: polygon(6% 0, 100% 0%, 100% 100%, 9% 100%, 0 26%);
  }
  
    .transicion_img {
      width: 100%; 
      height: auto; 
      transition: opacity 1s ease-in-out; 
    }


/*nabvar*/

  
  .img_principal {
    width: 100%; 
    height: auto; 
  }
  
  /*main*/

  .container_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; 
    max-width: 400px; 
    padding: 20px;
    border-radius: 10px;
  }
    
  .form-title {
    font-size: 16px;
    font-weight: bold;
    color:#1fb530;
    margin-bottom: 20px;
    border-bottom: 2px solid #1fb530;
    padding-bottom: 10px;
    text-align: center;
  }
  
  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white; 
    border: 3px solid #38de38;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); 
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  label {
    color: #6c757d;
    font-size: 14px;
    margin-left: 15px;
  }
  
  .user-wrapper, .password-wrapper {
    position: relative;
  }
  
  .user-wrapper input, .password-wrapper input {
    width: 90%;
    padding: 5px;
    background-color: white;
    border: none; 
    border-bottom: 2px solid #ced4da; 
    border-radius: 0; 
    box-shadow: none; 
    transition: border-color 0.2s ease-in-out;
    margin: 10px;
    outline: none; 
  }
  
  .user-wrapper input:focus, .password-wrapper input:focus {
    border-bottom-color: #04324D; 
  }
  
  .user-wrapper input:hover, .password-wrapper input:hover {
    border-bottom-color: #38de38; 
  }
  
  .password-wrapper {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px; 
    outline: none;
  }
  
  .toggle-password:focus {
    outline: none; 
  }
  
  .link_pass {
    position: relative;
    transform: translateY(-20%);
    text-decoration: none;
    color: #04324D;
    padding: 5px;
    font-size: 12px;
    margin-left: 70px;
  }
  

  .password-link{
  display: block;
  text-align: right;
  margin-top: 20px;
  color: #f6f1f1a4;
  text-decoration: none;
  text-decoration: underline;
  font-size: 14px; 
  }

  .submit-button {
    background-color: #04324D;
    color: #fff;
    padding: 10px 80px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin: 10px;
    margin-left: 30px;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #1fb530
  }  

/* Contenedor del slideshow */

.navbar {
  grid-row: 2 / span 3; 
  grid-column: 1 / span 3; 
  background-color:white;
  display: flex;
  justify-content: center; 
  align-items: center; 
  box-sizing: border-box; 
  position: relative; 
  overflow: hidden;
  margin: 10px;
}

.slideshow-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-card {
  display: none; 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slide_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: 20px;
  border-radius: 0 50px 20px 0;
}

.slide-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 0 0 8px 8px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.5);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}