  /* Estilo para el contenedor de la navegación */
  .navheader {
    display: flex;
    align-items: center; 
    position: relative; 
  }
  
  /* Estilo para el botón de menú */
  .menu-toggle {
    background: none; 
    border: none; 
    cursor: pointer; 
    padding: 0; 
    margin-right: 20px; 
  
  }
  
  /* Estilo para la imagen dentro del botón */
  .menu-toggle img {
    width: 30px; 
    height: auto; 
    filter: brightness(0) invert(1);
  }
  
  /* Estilo para el menú de navegación */
  .navigation-menu {
    background-color: white;
    display: none; 
    list-style: none; 
    padding: 0; 
    margin: 0; 
    position: absolute; 
    top: 80%; 
    right: 50%; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    padding: 10px; 
    z-index: 1000; 
    display: flex;
    flex-direction: column; 
    gap: 10px;
    border-color: #38de38;
  }
  /* Estilo para los ítems del menú */
  .navigation-item {
    display: flex;
    align-items: center; 
    padding: 5px; 
  }
  
  /* Estilo para las imágenes dentro de los ítems del menú */
  .subheader__img {
    width: 20px; 
    height: auto; 
    margin-right: 10px; 
    filter: invert(32%) sepia(87%) saturate(516%) hue-rotate(115deg) brightness(95%) contrast(101%)
  }
  
  /* Estilo para los enlaces del menú */
  .menu_item {
    color: #04324D; 
    text-decoration: none; 
    font-size: 14px; 
  }