.container_pass {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: white;
    padding: 20px;
}

.hidden {
  display: none;
}
.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  border: 3px solid #ccc;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box; 
}

/* Estilo para el título del formulario */
.titulo_form {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-bottom: 20px; 
  position: relative; 
  top: 0; 
  width: 100%; 
}

  
  .titulo_form h2 {
    font-size: 14px; 
    color: #04324D;
  }
  
  
  /* Estilo para el ícono del título */
  .main__img {
    width: 30px; 
    height: auto; 
  }
  
 /* Estilo para los grupos de formulario */
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
}

form label {
  font-size: 12px;
  margin-bottom: 5px;
  color: #04324D;
}

/* Estilo para los labels */
label {
  margin-bottom: 5px;
  font-size: 10px;
}

form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  width: 90%;
  box-shadow: none;
}

form input:focus {
  border-color: #38de38;
  outline: none;
}

/* Estilo para los inputs */
input {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 90%;
}

.password-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.password-wrapper input {
  width: calc(100% - 40px); 
  padding-right: 40px;
}

.password-wrapper .toggle-password {
  position: absolute;
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 12px;
}

/* Estilo para el botón de envío */
.submit-button {
  background-color: #04324D;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  width: 100%;
  text-align: center;
  border: none;
  cursor: pointer;
}

/* Estilo para el botón de envío en hover */
.submit-button:hover {
  background-color: #38de38;
  padding: 10px;
}
  
.close_form {
  position: absolute; 
  top: -20PX; 
  right: -10PX; 
  background: none; 
  border: none; 
  cursor: pointer; 
  margin: 0; 
}

/* Estilo para el ícono del botón de cerrar */
.close-icon {
  width: 24px; 
  height: auto; 
}

/* Estilo para el ícono del título */
.form-icon {
  filter: invert(32%) sepia(87%) saturate(516%) hue-rotate(115deg) brightness(95%) contrast(101%);
}