.main {
  position: relative;
  grid-column: 2 / span 5; 
  grid-row: 2 / span 3;   
  background-color: white;
  display: flex;
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
}

.container_pass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  padding: 20px;
  background-color: white;
  border-radius: 20px; 
  box-sizing: border-box;
  width: 50%;
  max-width: 600px; 
  height: auto; 
  overflow: auto;
  box-shadow: none;
}

.form-container {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
background-color: white;
border-radius: 20px;
border: 3px solid #ccc;
padding: 30px;
width: 70%;
max-width: 400px;
box-sizing: border-box; 
  box-shadow: none;
}

/* Estilo para el título del formulario */
.titulo_form {
display: flex;
align-items: center;
gap: 10px; 
margin-bottom: 20px; 
position: relative; 
width: 100%; 
}

.titulo_form h2 {
font-size: 14px; 
color: #04324D;
}

/* Estilo para el ícono del título */
.main__img {
width: 30px; 
height: auto; 
}

/* Estilo para los grupos de formulario */
.form-group {
display: flex;
flex-direction: column;
width: 110%;
margin-bottom: 20px;
transition: border-color 0.3s ease;
}

/* Estilo para los labels y inputs */
form label, 
label {
font-size: 12px;
margin-bottom: 5px;
color: #04324D;
}

form input, 
input {
padding: 10px;
border: 1px solid #ccc;
border-radius: 10px;
font-size: 14px;
width: 90%;
box-sizing: border-box;
}

form input:focus, 
input:focus {
border-color: #38de38;
outline: none;
}

/* Estilo para el wrapper de la contraseña */
.password-wrapper {
display: flex;
align-items: center;
position: relative;
}

.password-wrapper input {
width: calc(100% - 40px); 
padding-right: 40px;
}

.password-wrapper .toggle-password {
position: absolute;
right: 10px;
border: none;
background: none;
cursor: pointer;
font-size: 12px;
}

/* Estilo para el botón de envío */
.submit-button {
background-color: #04324D;
color: white;
border-radius: 20px;
padding: 10px 20px;
font-size: 14px;
width: 100%;
text-align: center;
border: none;
cursor: pointer;
}

.submit-button:hover {
background-color: #38de38;
}

/* Estilo para el botón de cerrar */
.close_form {
position: absolute; 
top: -20px; 
right: -10px; 
background: none; 
border: none; 
cursor: pointer; 
margin: 0; 
}

/* Estilo para el ícono del botón de cerrar */
.close-icon {
width: 24px; 
height: auto; 
}

/* Estilo para el ícono del título */
.form-icon {
filter: invert(32%) sepia(87%) saturate(516%) hue-rotate(115deg) brightness(95%) contrast(101%);
}

