main {
  position: relative;
  grid-column: 2 / span 5;
  grid-row: 2 / span 3;
  background-color: white;
  display: flex;
  flex-direction: column; 
  overflow: hidden;
  padding: 10px; 
  box-sizing: border-box; 
}

/* Estilo para el contenedor principal */
.container_pass {
  position: relative; 
  display: flex;
  flex-direction: column; 
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  width: 100%; 
  height: 100%;
  align-items: center; 
}

/* Contenedor superior que debe ir encima */
.container_superiorpass {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: center; 
  width: 100%; 
  height: auto; 
  box-sizing: border-box; 
  background-color: #e0e0e0;
  border-bottom-left-radius: 25px; 
  border-bottom-right-radius: 25px;
  margin: 0 auto;  
  z-index: 1;
}

.container_superiorpass p {
  font-size: 16px; 
  line-height: 1.5; 
  color: #04324D; 
  text-align: center; 
  margin: 10px; 
}

.container_superiorpass img {
  max-width: 100%;
  height: auto; 
  border-radius: 8px;
  margin-left: 30px; 
}

.contenedor_img {
  position: fixed; 
  top: 10%; 
  right: 0; 
  width: 70%; 
  height: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor_img img {
  width: 100%;
  height: auto; 
  display: block; 
}
/* Estilo para el contenedor del cuerpo que contiene elementos alineados horizontalmente */
.body_pass {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center; 
  gap: 20px; 
  width: 100%; 
  height: auto; 
  margin: 30px;
}

/* Estilo para el formulario */
.form-container {
  position: fixed; 
  top: 55%; 
  left: 38%; 
  transform: translate(-50%, -50%); 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  border: 4px solid #ccc;
  padding: 20px;
  width: 80vw; 
  height: auto;
  box-sizing: border-box;
  box-shadow: none;
  z-index: 2; 
}

.close_form {
  position: absolute; 
  top: -5px;
  right: 10px; 
  background: transparent; 
  border: none; 
  cursor: pointer; 
  padding: 0; 
  z-index: 1001; 
}

.close_form img {
  width: 20px; 
  height: auto; 
  display: block; 
}