.main {
  position: relative;
  grid-column: 2 / span 5;
  grid-row: 2 / span 3;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 4px solid #ccc;
  margin: 20px;
  border-radius: 20px;
}

.container_editUser{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  justify-content: center;
  align-items: center;
}

.container_infpersonal{
  display: flex;
  flex-direction: row;
  width: 100%; 
  margin-bottom: 10px;
  background-color: white;
  align-items: flex-start;
  box-sizing: border-box;
}

.contenedor_selectinfo {
  display: flex;
  flex-direction: row;
  width: 50%;
  border-bottom: 3px solid #ccc; 
  box-sizing: border-box;
}

.select_info {
  padding: 10px 15px;
  border-radius: 5px; 
  margin-left: 30px; 
  cursor: pointer; 
  background-color:white;
  transition: border-color 0.3s ease, background-color 0.3s ease; 
  border-color: 2px solid #ccc; 
  font-size: 16px;
  color: #04324D;
}

.select_info:hover {
  background-color: #ade8ad;
}

.select_info.active {
  background-color: #ade8ad; 
  color: #333; 
  border-color: #c50ddd; 
  font-weight: bold; 
}

.tab-content {
  display: flex; 
  flex-direction: column; 
  margin: 10px;
  width: 100%;
  height: 100%; 
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}


.tab-content > .tab-User {
  display: none;
}

.tab-content > .tab-User.active {
  display: block;
}

.tab-User{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  padding: 10px; 
  height: 100%; 
  box-sizing: border-box;
  width: 100%; 
  margin: 10px;
}

.form-editarusuario {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  border: 4px solid #ccc;
  padding: 15px;
  width: 100%;
  max-width: 400px; 
  box-sizing: border-box;
  margin: 0 auto; 
}

.editUser-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px;

}

.titulo_edit {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0;
  width: 100%;
}

.titulo_edit h2 {
  font-size: 16px;
  color: #04324D;
}

.editUser__img {
  width: 30px;
  height: auto;
  filter: invert(32%) sepia(87%) saturate(516%) hue-rotate(115deg) brightness(95%) contrast(101%);
}


.form-group_edit,
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

form label,
label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #04324D;
}

form input,
input {
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

form input:focus,
input:focus {
  border-color: #38de38;
  outline: none;
}

.editUser-button {
  background-color: #04324D;
  color: white;
  border-radius: 7px;
  padding: 10px 20px;
  font-size: 14px;
  width: 100%;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.editUser-button:hover {
  background-color: #1fb530;
}


/*PESTAÑA 2 - PASS*/

.tab-passApp {
  display: flex; 
  flex-direction: column; 
  width: 100%; 
  height: 100%; 
  box-sizing: border-box; 
  align-items: center;
  justify-content: center;
}

.container_superiorpass {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
  gap: 10px;
}

.container_superiorpass p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  text-align: left;
}


.body_pass {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  width: 100%; 
  height: 100%; 
  box-sizing: border-box; 
  padding: 20px;
  background-color: white; 
  border-radius: 20px; 
  margin-top: -40px;
}


.form-container {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  border: 4px solid #ccc;
  padding: 20px;
  width: 50%;
  max-width: 400px; 
  box-sizing: border-box;
  box-shadow: none;
}

.titulo_form {
  display: flex;
  align-items: left;
  justify-content: left;
  width: 100%;
  height: 100%;
  margin: 10px;
  position: relative;
  gap: 20px;
}

.titulo_form h2 {
  margin: 0;
  font-size: 16px;
  color: #04324D;
}

.titulo_form .form-icon {
  width: 40px;
  height: auto;
  margin-left: 30px;
}

.password-form {
  width: 100%;
}

.form-group {
  margin-bottom: 10px;
}

.password-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.password-wrapper input {
  width: calc(100% - 50px);
  padding: 20px;
  border: none;
  border-bottom: 2px solid #ced4da;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

input::placeholder {
  font-size: 18px;
  color: #888888;
}

.password-wrapper button.toggleapp-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: #333;
}

input[type="password"]:focus,
input[type="text"]:focus {
  border-color: #1fb530;
  outline: none;
}

.pass-button {
  background-color: #04324D;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 90%;
  margin: 25px;
}

.pass-button:hover {
  background-color: #1fb530;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .form-container {
      width: 50%;
      padding: 10px;
  }

  .container_superiorpass img {
      margin-left: 15px;
  }

  .titulo_form h2 {
      font-size: 18px;
  }
}

@media (max-width: 768px) {
  .form-container {
      width: 95%;
      padding: 10px;
  }

  .container_superiorpass img {
      margin-left: 10px;
  }

  .titulo_form h2 {
      font-size: 16px;
  }

  .body_pass {
      flex-direction: column;
      gap: 5px;
      margin: 10px;
  }
}

.close_form7 {
  position: absolute;
  top: 20px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.close_form7 img {
  width: 24px; 
  height: 24px;
}