body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 5fr 4fr 1fr;
    gap: 0;
    width: 100vw; /* Asegura que el contenedor use el ancho completo del viewport */
    height: 100vh;
    border: 2px solid #ccc;
    padding: 0;
  }
  
  .header, .navbar, .main, .footer {
    border: 2px solid #1f1d1d;
    padding: 0px;
  }
  
  .header {
    grid-column: 3 / span 2; /* Asegura que el área de la columna esté bien ajustada */
    grid-row: 1/span 1;
    background-color: #04324D;
  }
  
  .navbar {
    grid-column: 1 / span 2;
    grid-row: 1 / span 6;
    display: flex; /* Cambiado a flex para un comportamiento de bloque */
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: -5%; 
    background-color: #f6f1f1a4;
  }
  
  .main {
    grid-column: 3 / span 6; 
    grid-row: 2 / span 6;
    background-color:white;
    display: flex;
  }
  
  .footer {
    grid-column: 3 / span 4; 
    grid-row: 5;
    background-color: #dca5a5;
  }
  
  
  /* Estilo general para el contenedor del header */
  .contenedor_header {
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start; 
    padding: 10px; 
    position: relative; 
  }
  
  /* Estilo para el contenedor de la navegación */
  .navheader {
    display: flex;
    align-items: center; 
    position: relative; 
  }
  
  /* Estilo para el botón de menú */
  .menu-toggle {
    background: none; 
    border: none; 
    cursor: pointer; 
    padding: 0; 
    margin-right: 20px; 
  
  }
  
  /* Estilo para la imagen dentro del botón */
  .menu-toggle img {
    width: 30px; 
    height: auto; 
    filter: brightness(0) invert(1);
  }
  
  /* Estilo para el menú de navegación */
  .navigation-menu {
    background-color: white;
    display: none; 
    list-style: none; 
    padding: 0; 
    margin: 0; 
    position: absolute; 
    top: 80%; 
    right: 50%; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    padding: 10px; 
    z-index: 1000; 
    display: flex;
    flex-direction: column; 
    gap: 10px;
    border-color: #38de38;
  }
  /* Estilo para los ítems del menú */
  .navigation-item {
    display: flex;
    align-items: center; 
    padding: 5px; 
  }
  
  /* Estilo para las imágenes dentro de los ítems del menú */
  .subheader__img {
    width: 20px; 
    height: auto; 
    margin-right: 10px; 
    filter: invert(32%) sepia(87%) saturate(516%) hue-rotate(115deg) brightness(95%) contrast(101%)
  }
  
  /* Estilo para los enlaces del menú */
  .menu_item {
    color: #04324D; 
    text-decoration: none; 
    font-size: 14px; 
  }