/*main formulario-pass*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 5fr 4fr 1fr;
    gap: 0;
    width: 100vw; 
    height: 100vh;
    border: 2px solid #ccc;
    padding: 0;
  }
   
  .header {
    grid-column: 3 / span 6; 
    background-color: #04324D;
  }
  
  .navbar {
    grid-column: 1 / span 2;
    grid-row: 1 / span 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  
  .main {
    grid-column: 3 / span 6; 
    grid-row: 2 / span 6;
    background-color:white;
    display: flex;
  }
  
  .footer {
    grid-column: 3 / span 4; 
    grid-row: 5;
    background-color: #dca5a5;
  }

  .hidden {
    display: none;
  }
  .contenedor_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    position: fixed;
    top: 0;
    left: 400px; 
    right: 0;
    bottom: 0;
    z-index: 500; 
  }
  
   
  /* Estilo para el contenedor del formulario */
  .form-container {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: #f6f1f1a4; 
    border-radius: 20px; 
    border: 3px solid #38de38; 
    padding: 30px;
    width: 150%;
    max-width: 200px; 
  }

  .hidden {
    display: none;
  }

  /* Estilo para el título del formulario */
  .titulo_form {
    display: flex;
    align-items: center; 
    gap: 5px; 
    margin-bottom: 10px; 
    top: 20px;
  }
  
  .titulo_form h2 {
    font-size: 14px; 
    color: #04324D;
  }
  
  
  /* Estilo para el ícono del título */
  .main__img {
    width: 30px; 
    height: auto; 
  }
  
  .form-icon{
    filter: invert(32%) sepia(87%) saturate(516%) hue-rotate(115deg) brightness(95%) contrast(101%);
  }
  
 /* Estilo para los grupos de formulario */
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
}

form label {
  font-size: 12px;
  margin-bottom: 5px;
  color: #04324D;
}

/* Estilo para los labels */
label {
  margin-bottom: 5px;
  font-size: 10px;
}

form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  width: 90%;
  box-shadow: none;
}

form input:focus {
  border-color: #38de38;
  outline: none;
}

/* Estilo para los inputs */
input {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 90%;
}

.password-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
}

.password-wrapper .toggle-password {
  position: absolute;
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 12px;
}

/* Estilo para el botón de envío */
.submit-button {
  background-color: #04324D;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  width: 100%;
  text-align: center;
  border: none;
  cursor: pointer;
}

/* Estilo para el botón de envío en hover */
.submit-button:hover {
  background-color: #38de38;
  padding: 10px;
}
  
  .close-form {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    margin: 0;
  }
  
  /* Estilo para el ícono del botón de cerrar */
  .close-icon {
    width: 24px; 
    height: auto; 
  }