body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}
  
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 5fr 4fr 1fr;
    gap: 0;
    width: 100vw;
    height: 100vh;
    border: 2px solid #ccc;
    padding: 0;
}
  
.header {
    grid-column: 3 / span 7; 
    grid-row: 1 / span 1;
    background-color: #04324D;
}
  
.navbar {
    grid-column: 1 / span 2;
    grid-row: 1 / span 6;
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100%; 
}
  
.footer {
    grid-column: 3 / span 7; 
    grid-row: 5;
    background-color: #dca5a5;
}

.main {
    position: relative;
    grid-column: 3 / span 4; 
    grid-row: 2 / span 4;   
    background-color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
}

.header, .navbar, .main, .footer {
    border: 2px solid #1f1d1d;
    padding: 0px;
  }
  

  .modal_user{
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000; 
    max-width: 90%;
    width: 300px; 
}

/* Estilo para el overlay del modal */
.modaluserOverlay {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); 
    z-index: 9999; 
}
.hidden {
    display: none;
}  
/* Estilo para cada fila de formulario */
.form-row {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: space-between; 
}

/* Ajustar los elementos dentro de cada fila */
.form_userlabel {
    flex: 1 1 calc(50% - 25px); 
    max-width: calc(50% - 25px); 
    display: flex;
    flex-direction: column;   
    position: relative;
}

.form-control {
    width: 95%; 
    max-width: 500px; 
    height: 40px; 
    padding: 10px 15px; 
    font-size: 14px; 
    box-sizing: border-box; 
    border: 2px solid #ccc; 
    border-radius: 10px;
    background-color:  white;
    color: black;
}

.tittle_newuser {
    font-size: 18px; 
    margin: 20px;    
    color:#04324D;
      }

/* Estilo para el fieldset */
.form_rollabel {
    padding: 20px; 
    border-left: 1px solid #ddd; 
    margin-top: 10px; 
}

/* Estilo para el legend */
.form-label {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 10px; 
    margin-left: 20px;
    font-weight: bold; 
    color: #04324D;
}

/* Estilo para cada opción dentro del fieldset */
.form-check {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
}

/* Ajusta el tamaño del input de radio */
.form-check-input {
    margin-right: 10px; 
    width: 10px; 
    height: 10px; 
    background-color: #1fb530;
}

/* Ajusta el margen y tamaño de las etiquetas */
.form-check-label {
    font-size: 12px; 
    color:#04324D;
    margin: 0; 
}

.button-container {
    display: flex;         
    width: 100%;             
    justify-content: center;
    box-sizing: border-box;    
}

/* Botón de crear usuario */
.btn-primary {
    background-color: #04324D;
    color: #fff;
    padding: 10px 70px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 16px;
}
.btn-primary:hover {
    background-color: #1fb530;
}

.close-form2 {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
}

.close-icon2 {
    width: 24px;
    height: 24px;
}

.main_img_end {
    position: absolute;
    bottom: 10px; 
    right: 10px; 
    width: 250px; 
    height: auto; 
    z-index: 1; 
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.container_tittleform {
    display: flex;
    align-items: center;
  }
  
  .icon-wrapper {
    width: 50px; 
    height: 50px; 
    background-color: #04324D; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; 
  }
  
  .main_form-img {
    width: 30px; 
    height: 30px; 
    filter: brightness(0) invert(1);
  }