body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color:#F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; 
}

.grid-container {
  display: grid;
  grid-template-columns: 0.75fr repeat(5, 1fr);
  grid-template-rows: 50px 1fr auto;
  gap: 0px;
  width: 100vw;
  height: 100vh;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  grid-column: 2/ span 5;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  background-color: #F5F5F5;
  border: 2px solid red;
}

.titulo_sedes{
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-left: 50px;
}

.titulo_sedes img {
  max-width: 100px;
  width: 40px;
  height: auto;
  margin-right: 20px;
}

.titulo_sedes h2 {
  margin: 0;
  color: #333;
  font-size: 16px;
  font-weight: 600;
}

.select_ambientesSedes{
  display: flex;
  align-items: center; 
  margin-right:200px;
  padding:10px;
  gap:10px;
}

.select_ambientesSedes h2 {
  color: #333;
  font-size: 16px;
  font-weight: 600;
}

#ambientesSelect {
  padding: 8px;
  font-size: 16px;
  border: 2px solid #ddd; 
  border-radius: 8px; 
  background-color: #ffffff; 
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: border-color 0.3s, box-shadow 0.3s;
}

#ambientesSelect:focus {
  border-color: #1fb530; 
  outline: none; 
  box-shadow: 0 0 0 2px rgba(118, 247, 67, 0.25); 
}


.main {
  position: relative;
  grid-column: 2 / span 5;
  grid-row: 2 / span 4;
  background-color: #F5F5F5;
  display: grid;
  box-sizing: border-box;
  margin:0;
  overflow: auto;
  border-radius: 10px;
  border: 2px solid rgb(182, 25, 221);
}


#calendar {
  box-sizing: border-box;
  display: grid;
  overflow: auto;
  height: 95%;
  width: 97%;
  background-color: #F5F5F5; 
  padding: 0; 
  margin: 10px; 
}

/* Ajusta el tamaño de los días en la vista mensual */
.fc-daygrid-day {
  font-size: 10px; /* Reduce el tamaño de la fuente para los días */
  padding: 2px; /* Reduce el espacio dentro de cada celda de día */
}

/* Ajusta el tamaño del encabezado de los días de la semana */
.fc-daygrid-day-top {
  font-size: 0.8em; /* Ajusta el tamaño de la fuente para el encabezado de los días de la semana */
}

/* Ajusta el tamaño del título del mes */
.fc-month-view .fc-header-title {
  font-size: 1em; /* Ajusta el tamaño de la fuente del título del mes */
}

/*encabezados del calendario*/

.fc-header-toolbar {
  background-color: #F5F5F5;
  font-size: 18px;
  border-bottom: 2px solid #ccc;
}

.fc-button {
  background-color: #d7e2ca; 
  color: #333; 
  border: none; 
  padding: 10px 15px; 
  border-radius: 4px;
}

.fc-button:hover {
  background-color: #666; /* Color de fondo al pasar el ratón */
}

/*Para mejorar la visualización de los días y los eventos*/

.fc-daygrid-day {
  border: 1px solid #ddd; /* Borde fino alrededor de los días */
}

.fc-daygrid-day-number {
  font-size: 1.2em; /* Tamaño de fuente más grande para los números de los días */
  color: #333; /* Color de texto para los números de los días */
}

.fc-daygrid-day-event {
  border-radius: 4px; /* Bordes redondeados para los eventos */
  background-color: #2196F3; /* Color de fondo para los eventos */
  color: #fff; /* Color de texto blanco para los eventos */
  padding: 5px; /* Relleno interno de los eventos */
}

.fc-daygrid-day.fc-day-today {
  background-color: #e3f2fd; /* Color de fondo para el día actual */
  border: 1px solid #90caf9; /* Borde resaltado para el día actual */
}

/*Ajustar la Vista Semanal*/
.fc-timegrid-daygrid-day {
  border: none; /* Elimina el borde */
}

.fc-timegrid-hour {
  border-bottom: 1px solid #ddd; /* Línea divisoria para las horas */
}

.fc-timegrid-event {
  border-radius: 4px; /* Bordes redondeados para los eventos */
  background-color: #4caf50; /* Color de fondo para los eventos */
  color: #fff; /* Color de texto blanco para los eventos */
}

#sidebar {
    grid-column: 1; 
    grid-row: 1 / span 4; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    background-color: #e0e0e0;
    border-bottom-right-radius: 70px;
    border: 1px solid green;
    gap: 30px;
  }


  
.btnadd_reserva, .btnañadir_materiales, .btneliminar_reserva, .btnreportar_novedad{
  background-color: #e0e0e0;
  border: none;
  padding: 10px 15px;
}


/* Hover verde en los botones */
.sidebar button:hover {
  background-color: #F5F5F5; 
  color: #005f73; 
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px; 
  padding: 10px 90px;
  margin: 0;
}


/* Estilos para el modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1050 !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-backdrop {
  z-index: 1040 !important; /* Valor por defecto de Bootstrap 5 */
}


.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  padding: 20px 0;
}


label {
  display: block;
  margin-bottom: 5px;
}

input[type="date"],
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

/* Estilos para los botones de día de la semana*/
.btn-day {
  background-color: red;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.btn-day.inactive {
  opacity: 0.5;
}

.btn-day.active {
  opacity: 1;
}

/* Estilos de flexbox */
.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

