body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto; 
    font-family: 'Montserrat', sans-serif;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr repeat(5, 1fr);
    grid-template-rows: 140px 110px 1fr; 
    width: 100vw;
    height: 100vh;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
  }
  
  .header {
    grid-column: 1/ span 6;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: #005f73;
    position: relative; 
}

.header-title {
    font-size: 2rem; /* Tamaño para el h1 */
    margin-top: -20px;
    color: white; /* Color del texto */
}

.main{
    grid-column: 1/ span 6;
    grid-row: 4 span 2;
}


.breadcrumb {
    background: transparent; /* Fondo transparente para las migas de pan */
}

.header-actions {
    margin-top: 10px;
}


card {
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-4px); /* Efecto de elevación al pasar el mouse */
}

.custom-card {
    background-color: #ffffff; /* Fondo blanco para las tarjetas */
}

.row {
    display: flex; /* Usar flexbox para alinear las tarjetas en una fila */
    justify-content: center; /* Centrar las tarjetas */
}

.col-md-4 {
    margin-bottom: 20px; /* Espacio entre las filas */
}

/* Estilo del input y el botón */
.form-control {
    border-radius: 0.25rem;
}

.btn-primary {
    border-radius: 0.25rem; /* Bordes redondeados para el botón */
}



.table thead th {
    background-color: #007bff;
    color: white;
}
.btn-info {
    background-color: #17a2b8;
    border: none;
}

/**************************** *********************************/
.aside{
    grid-column: 1/ span 6;
    grid-row: 2 /span 1;
    margin-top: -80px; /* Ajusta este valor según necesites */
    z-index: 1; /* Asegúrate de que esté por encima del header */
    position: relative; /* Permite que el z-index funcione */
    border: 1px solid red;
}




.nav-tabs {
    margin-bottom: 20px;
}

.nav-link {
    color: #495057; /* Color de texto en las pestañas */
}

.nav-link.active {
    background-color: #343a40; /* Color de fondo para la pestaña activa */
    color: white;
}

.custom-table {
    border-radius: 8px;
    overflow: hidden;
}

.custom-table thead {
    background-color: #343a40; /* Color oscuro para el encabezado de la tabla */
    color: white;
}

.custom-table tbody tr:hover {
    background-color: #f1f1f1; /* Color de fondo al pasar el mouse */
}

.img_sena {
    position: relative;
    max-width: 100px;
    height: 70px;
    margin: 20px;
    margin-left: 50px;
    margin-top: -20px;
  }