body {
    margin: 0;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto; 
    font-family: 'Montserrat', sans-serif;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr repeat(5, 1fr);
    grid-template-rows: 170px 80px 1fr;
    width: 100vw;
    height: 100vh;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    grid-column: 1/ span 6;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: #012a42;
    position: relative; 
}

.header-title {
    font-size: 35px; 
    margin-top: -50px;
    color: gray;
    flex: 0 0 75%;
    text-align: center;
}
.img_contenedor{
  flex: 0 0 17%; 
  display: flex;
  justify-content: flex-end;
}
.img_sena {
    position: relative;
    max-width: 100px;
    height: 60px;
    margin-top: -50px;
  }

.btn_volver{
  flex: 0 0 10%;
  margin-top: -50px;
  text-decoration: none;

}

/****************************Main-tabla*********************************/
.main{
    grid-column: 1 / span 6;
    grid-row: 3;
}

.custom-table {
    overflow: hidden;
    width: 60%;
    overflow-x: auto;
    border-collapse: collapse;
    table-layout: auto;
    border: 1px solid #333;
    font-family: 'Montserrat', sans-serif;
}

.table thead th {
    background-color: #ccc;
    color: #04324D;
}
.btn-info {
    background-color: #17a2b8;
    border: none;
}

.table th {
  color: #333;
  font-size: 13px;
  text-align: center;
  padding: 10px;
}

.table td {
  padding: 7px;
  text-align: center;
  box-sizing: border-box;
  font-size: 12px;
  border: 2px solid #ccc;
}

.table tbody td {
  border: none; 
}

/* Opcional: mejorar la visibilidad de las filas alternas */
.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/****************************Main-tabs********************************/
.nav-tabs{
  margin-left: 70px;
}

.nav-tabs .nav-link {
    margin-top: 10px;
    border: 1px solid transparent; 
    border-radius: 0.5rem 0.5rem 0 0; 
    color:#706d6d;
    font-size: 16px;
    font-weight: bold;
  }
  
  .nav-tabs .nav-link.active {
    background-color: white;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

/**************************** *********************************/
.aside{
    grid-column: 1/ span 6;
    grid-row: 2 /span 1;
    margin-top: -90px; 
    z-index: 1; 
    position: relative; 
}

.card {
    border: 3px solid #ccc;
    border-radius: 60px;
    z-index: 1;
}

.container {
    max-width: 1350px;
    justify-content: center;
}


.custom-card {
    background-color: white; 
    border-radius: 12px; 
    padding: 2px;
}

.card-title {
    font-size: 20px; 
    color: #333; 
    margin-bottom: 5px;
}

.card-body {
    display: flex;
    align-items: center; 
}

.img_estadistica {
    width: 30px; 
    margin-right: 10px;
    margin-bottom: 5px;
}

.indicador {
    font-size: 18px; 
    color: #706d6d;
}

/****************************fecha********************************/
.contenedor_fecha {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }


  .contenedor_fecha label {
    margin-right: 10px; 
    margin-top: 5px;
    color: #706d6d;
  }
  
  .contenedor_fecha input {
    margin-right: 30px; 
    width: 10%;
    border-radius: 7px;
    border: 2px solid #ccc;
    color: #04324D;
    text-align: center;
  }
  
  /* Efecto focus */
  .contenedor_fecha input:focus {
    border-color: #ccc; 
    outline: none; 
    box-shadow: none;
  }

/****************************grafico********************************/

.contenedor_grafico {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: white; 
    width: 100%; 
    height: 500px;
    margin-top: 20px;
    padding: 10px;
}

/* Asegúrate de usar la clase correcta */
.ocupacionPorAmbienteChart {
    position: relative;  
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: white; 
    width: 100%; 
    height: 300px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: -150px;
}


canvas {
    position: absolute; 
    top: 30%; 
    left: 0; 
    width: 100% !important; 
    height: 100% !important; 
}

/****************************busqueda Instructor********************************/
.row {
    display: flex;
    justify-content: center; 
    margin: 20px 30px 10px;
}

.buscar_instructor {
    display: flex; 
    align-items: center; 
    padding: 10px 15px; 
}

.form-label {
    font-size: 14px; 
    color: #04324D; 
    margin-right: 20px; 
}

.form-control {
    border: 3px solid #ccc; 
    border-radius: 8px; 
    padding: 8px;
    font-size: 14px; 
    width: 250px; 
    transition: border-color 0.3s; 
    margin-top: -10px;
}

.form-control:focus {
    border-color: #16a34a; 
    outline: none;
    box-shadow: none;
}
/****************************boton********************************/
.btn-estadistica{
        padding: 7px 15px; 
        font-size: 13px; 
        color: white; 
        background-color: #16a34a;
        border-radius: 7px; 
        border: none;
        cursor: pointer;
      }
      
      .btn-estadistica:hover{
        background-color: #005f73;
      }