.contenedor_tarjetas {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  width: 100%; 
  height: 140px;
  margin-bottom: 10px;
  margin-top: 10px;
}
/* Estilo de Tarjeta */
.card {
  flex: 1; 
  min-width: 230px; 
  max-width: calc(25% - 20px); 
  border: 1px solid #dee2e6; 
  border-radius: 0.5rem; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s; 
}

.card:hover {
    transform: translateY(-4px); 
}

.card-header {
    font-weight: bold;
    font-size: 14px; 
    color: var(--color-text-secundary);
    border: 2px solid var(--color-border);
    background-color: #ccc; 
    padding:3px;
}

/* Cuerpo de la Tarjeta */
.card-body {
    background-color: #ffffff; 
    border: 2px solid var(--color-border);
    padding: 10px;
}

/* Títulos y Texto */
.card-title {
    margin-left: -10px;
    font-size: 11px; 
    font-weight: 900;
}

.card-text {
    font-size: 12px; 
    color: #525252;
    margin-left: -10px;
}

/*--------------------estilos contenedor fecha -cargar datos--------------------------------------------*/
.contenedor_fecha {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.contenedor_fecha label {
  margin-right: 0.5rem; 
}

.contenedor_fecha input {
  margin-right: 30px; 
  width: 20%;
  border-radius: 7px;
  border: 2px solid var(--color-border);
  color: var(--color-text-secundary);
  text-align: center;
}

/* Efecto focus */
.contenedor_fecha input:focus {
  border-color: var(--border-secundary); 
  outline: none; 
  box-shadow: none;
}

.form-label {
  font-size: 14px; 
  margin-top: 10px;
  color: var(--color-light-text);
  text-align: center;
}

/* Estilos para el botón */
.btn-cargar{
  padding: 7px 15px; 
  font-size: 13px; 
  color: var(--color-text-secundary); 
  border: 1px solid var(--border-secundary); 
  border-radius: 7px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
/*--------------------estilos gráfico------------------------------*/
.contenedor_grafico {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  border-radius: 8px; 
  background-color: white; 
  width: 100%; 
}

h2 {
  margin-bottom: 1rem; 
  font-size: 1.25rem; 
  font-weight: bold; 
  color: var(--color-text); 
  text-align: center; 
}

.chart-container {
  width: 100%; 
  max-width: 600px; 
  position: relative; 
  height: 240px; 

}
canvas {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100% !important; 
  height: 100% !important; 
}

.btn-grafico{
  padding: 7px 15px; 
  font-size: 13px; 
  color: var(--color-white); 
  background-color: var(--color-primary);
  border: 1px solid var(--border-secundary); 
  border-radius: 7px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.btn-grafico:hover{
  background-color: var(--color-primary-hover);
}

.contenedor_fecha input, .btn-cargar {
  font-family:var(--font-family);
}
/*--------------------estilos responsive------------------------------*/

@media (max-width: 768px) { 
  .contenedor_tarjetas {
    flex-direction: column;
  }

  .card {
    max-width: 90%; 
    margin: 0 auto; 
  }

  .contenedor_fecha input {
    width: 40%; 
  }
}

@media (min-width: 769px) and (max-width: 1920px) { 
  .contenedor_tarjetas {
    flex-wrap: wrap; 
  }

  .card {
    max-width: calc(20% - 20px); 
  }

  .contenedor_fecha input {
    width: 15%; 
  }
  .chart-container {
    height: 300px; 
  }
}
