 /* Estilo para los botones de guardar - principales */
 .button-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .btn-primary {
    background-color: var(--color-primary); 
    color: var(--color-white);
    padding: 10px 70px; 
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 16px; 
    z-index: 2;
    font-family: var(--font-family);
  }
  
  .btn-primary:hover {
    background-color: var(--color-primary-hover); 
  }

  /*-----------------------------------------------------------------*/ 
  
.titulo_h2 {
  font-size: 22px; 
  font-weight: bold; 
  color: var(--color-secondary); 
  margin: 5px 0; 
  text-align: center; 
}
/* Estilo para el ícono del título */
.icon-wrapper {
width: 45px;
height: 45px;
background-color: var(--color-primary); 
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
margin-right: 12px;
}
