body {
  font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    width: 100%; 
    height: 100%;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 5fr 4fr 1fr;
    gap: 0;
    width: 100vw; 
    height: 100vh;
    border: 2px solid white;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    grid-row: 1; 
    grid-column: 1 / span 6; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    padding: 10px 0; 
    box-sizing: border-box; 
    background-color: #04324D;
  }
  
  .container {
    display: flex;
    width: 100%; 
    max-width: 1200px; 
    justify-content:flex-start; 
    align-items: left; 
    text-align: left; 
    box-sizing: border-box; 
    gap: 20px;
  }
  
  .img_sena {
      position: relative;
      max-width: 100px;
      height: 60px;
      margin-top: 10px;
  }
  
  .header-img {
    position: absolute; 
    right: 0; 
    top: 0; 
    height: 100%; 
    overflow: hidden; 
    display: flex;
    align-items: right; 
    z-index: 1; 
    clip-path: polygon(6% 0, 100% 0%, 100% 100%, 9% 100%, 0 26%);
  }
  
    .transicion_img {
      width: 100%; 
      height: auto; 
      transition: opacity 1s ease-in-out; 
    }
    .header-info {
      align-items: center; 
      font-family: 'Montserrat', sans-serif; 
      font-size: 28px; 
      margin-bottom: 10px; 
      color: white; 
    }
    
    .header-info h1 {
      font-size: 28px;
      margin-bottom: 10px; 
      color: white;
    }


/* Estilos generales */
.main {
  grid-row: 2 / span 2;
  grid-column: 4 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  box-sizing: border-box;
}

.container_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
  max-width: 80%; 
  height: auto;
  padding: 30px; 
  border-radius: 15px;
  overflow: auto;
  box-sizing: border-box;
}

.form-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px; 
  color: #38de38;
  margin-bottom: 20px; 
  border-bottom: 3px solid #ccc;
  padding-bottom: 10px;
  text-align: center;
}

.login-form {
  width: 100%; 
  max-width: 400px; 
  height: auto; 
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 4px solid #ccc;
  padding: 10px; 
  border-radius: 20px; 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; 
  z-index: 1000;
  margin-top: 30px;
}

.form-group {
  margin-bottom: 15px; 
}

.user-wrapper, .password-wrapper {
  position: relative;
  display: flex; 
  align-items: center;
}

#username::placeholder, #password::placeholder {
  font-size: 18px; 
  color: #888888; 
}

.user-wrapper input, .password-wrapper input {
  width: calc(100% - 50px); 
  padding: 20px; 
  background-color: white;
  border: none;
  border-bottom: 2px solid #ced4da;
  border-radius: 0;
  box-shadow: none;
  transition: border-color 0.2s ease-in-out;
  margin: 10px 0; 
  outline: none;
}

.user-wrapper input:focus, .password-wrapper input:focus {
  border-bottom-color: #04324D;
}

.user-wrapper input:hover, .password-wrapper input:hover {
  border-bottom-color: #38de38;
}

.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.toggle-password:focus {
  outline: none;
}

.link_pass {
  position: relative;
  text-decoration: none;
  color: #1fb530;
  padding: 5px;
  font-size: 14px;
  margin-left: 80px;
}

.password-link {
  display: block;
  text-align: right;
  margin-top: 20px;
  color: #f6f1f1a4;
  text-decoration: underline;
  font-size: 16px;
}

.contenedor_botonlogin {
  display: flex; 
  justify-content: center; 
  margin: 20px; 
}

.boton_login {
  background-color: #04324D; 
  color: #fff;
  padding: 10px 20px; 
  border: none;
  border-radius: 10px; 
  cursor: pointer; 
  transition: background-color 0.2s ease-in-out; 
  font-size: 18px; 
}

.boton_login:hover {
  background-color: #1fb530; 
}


@media (max-width: 768px) {
  .form-title {
    font-size: 14px; }

  .login-form {
    padding: 10px; 
  }

  .user-wrapper input, .password-wrapper input {
    width: calc(100% - 50px); 
    padding: 15px;
    height: auto;
  }

  .link_pass {
    margin-left: 40px; 
  }

  .contenedor_botonlogin {
    margin-top: 5px; 
  }

  .boton_login {
    padding: 10px; 
    font-size: 12px; 
  }
}


/* Contenedor del slideshow */

.navbar {
  grid-row: 2 / span 4; 
  grid-column: 1 / span 3; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  box-sizing: border-box; 
  position: relative; 
  overflow: hidden;
  margin: 5px;
}

.slideshow-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-card {
  display: none; 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

.slide_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: 20px;
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px; 
}

.slide-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 0 0 8px 8px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.5);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.footer {
  grid-row: 5; 
  grid-column: 4 / span 3; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  padding: 10px 0; 
  color: #04324D; 
  font-family: 'Montserrat', sans-serif;

}
